{% extends "layouts/default.twig" %}

{% block content %}
    
            <!--Page Title-->
            <section class="page-title" style="background-image:url(./assets/images/background/image-rice-bag.jpg);">
              <div class="auto-container">
              <h1>About</h1>
              </div>
            </section>

            <!--About Section-->
            <section class="about-farm">
              <div class="auto-container">          
                <div class="row clearfix">
                  <!--Column-->
                  <div class="column col-lg-5 col-md-4 col-sm-12 col-xs-12">
                    <figure class="image-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                      <img src="./assets/images/warehouse.jpg" alt="">
                    </figure>
                  </div>
                  <!--Column-->
                  <div class="column col-lg-7 col-md-8 col-sm-12 col-xs-12">
                    <div class="tabs-box tabs-style-one wow fadeInRight animated" data-wow-delay="1ms" data-wow-duration="1500ms">
                      <div class="row clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2">
                          <!--Tabs Content-->
                          <div class="tabs-content">
                              
                            <!--Tab-->
                            <div class="tab" id="tab-one">
                              <div class="subtitle">About Us</div>
                              <div class="content">
                                Perusahaan yang bergerak dalam perdagangan barang komoditi pangan antara lain beras. telur, gula dan ayam negri. Perusahaan kami menyediakan berbagai kebutuhan pangan terutama beras, gula dan telur ayam untuk <strong>HOREKA</strong> (Hotel Restaurant &amp; Katering).
                              </div>
                            </div>
                            
                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="tab-two">
                              <div class="subtitle"><img src="./assets/images/logo.png" class="text-center" alt="AsiaTrade .Co"></div>
                              <div class="content">
                                <h4>Who we are</h4>
                                <p>
                                  Asia Trade Co. didirikan pada tahun 2012 dengan nama PT Asia Niaga Sinergi, yang bergerak di bidang komoditi trading terutama bahan pangan beras dan gula.
                                </p>
                                <p>
                                  Perusahaan kami menyediakan berbagai kebutuhan pangan terutama beras dan gula untuk HOREKA (Hotel Restaurant &amp; Katering) di tahun 2017 perusahaan kami mulai bekerjasama dengan melayani perusahaan katering besar seperti PT Pangansari Utama, PT GDSK dan PT Eka Boga Inti (Hokben).
                                </p>
                                <h4>What we are now</h4>
                                <p>
                                  Pada tahun 2019 kami memperluas produk kami dengan penambahan produk Telur dan Daging Ayam. 
                                </p>
                                <h4>Whose we reach</h4>
                                <p>
                                  Membangun layanan ke hotel-hotel besar, restoran, katering dan stasiun makanan lebih dari 5 tahun.
                                </p>
                              </div>
                            </div>
                            
                            <!--Tab-->
                            <div class="tab" id="tab-three">
                              <div class="subtitle">Ho We Do</div>
                              <div class="content">
                                Perusahaan yang bergerak dalam perdagangan barang komoditi pangan, terutama beras &amp; gula. Perusahaan kami menyediakan berbagai kebutuhan pangan terutama beras dan gula untuk HOREKA (Hotel Restaurant &amp; Katering).
                              </div>
                            </div>
                              
                          </div>
                        </div>                                    
                      </div>
                    </div>
                  </div>
                </div>            
              </div>
            </section>
            
            <!--Call TO Action One-->
            <section class="call-to-action-one">
              <!--Floted Image Left-->
              <figure class="floated-image-left wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                <img src="./assets/images/sugar.png" alt="">
              </figure>
              
              <!--Floted Image Right-->
              <figure class="floated-image-right wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                <img src="./assets/images/rice.png" alt="">
              </figure>
              
              <div class="auto-container">
                <div class="content-box">
                  <div class="sub-title"><strong>HOTLINE</strong></div>
                  <div class="phone-number">{{company.phone}}</div>
                  <div class="text">
                  Perusahaan yang bergerak dalam perdagangan barang komoditi pangan antara lain beras, telur, gula dan ayam negri. Perusahaan kami menyediakan berbagai kebutuhan pangan berkualitas untuk<br><strong>HOREKA</strong> (Hotel Restaurant &amp; Katering).
                  </div>
                </div>
              </div>
            </section>

            <section class="sponsors-style-one alternate">
              <div class="sec-title-one"><h2>Certificate</h2></div>

              <div class="row clearfix">
                <!--Featured Block One-->
                <div class="featured-block-one col-md-12 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <figure class="image"><img src="./assets/images/sucofindo.jpg" alt="Sucofindo"></figure>
                  </div>
                </div>                                                
              </div>
              
              <div class="row clearfix">
                  
                <!--Featured Block One-->
                <div class="featured-block-one col-md-6 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <figure class="image"><img src="./assets/images/Hasil-Lab-Sucofindo-IR64_Setra-Ramos.jpg" alt=""></figure>
                    <div class="content">
                      <h3>Hasil Lab Sucofindo 2017 Beras IR-64 Sentra Ramos</h3>
                      <a href="./assets/uploads/Hasil-Lab-Sucofindo-IR64_Setra-Ramos-1-4-4.pdf">Download Hasil Lab</a>
                    </div>
                  </div>
                </div>
                
                <!--Featured Block One-->
                <div class="featured-block-one col-md-6 col-sm-6 col-xs-12">
                  <div class="inner-box">
                    <figure class="image"><img src="./assets/images/Hasil-Lab-Sucofindo-Pandan-Wangi.jpg" alt=""></figure>
                    <div class="content">
                      <h3>Hasil Lab Sucofindo 2017 Pandan Wangi</h3>
                      <a href="./assets/uploads/Hasil-Lab-Sucofindo-Pandan-Wangi-1-4-4.pdf">Download Hasil Lab</a>
                    </div>
                  </div>
                </div>
                  
              </div>

              <div class="auto-container">
                <div class="sec-title-one">
                  <h2>Clients</h2>
                </div>
                <div class="row clearfix " style="margin:0 auto;text-align:center">
                  <div class="col-sm-6 text-center">
                    <ul>
                      <li>PT. Pangansari Utama (for PT.Freeport Indonesia, Timika-Papua)</li>
                      <li>PT. Pangansari Utama (Jakarta)</li>
                      <li>Hoka-Hoka Bento</li>
                      <li>PT. Gobel Dharma Sarana Karya (GDSK)</li>
                      <li>PT. Food Station Tjipinang Jaya</li>
                      <li>Nine Square &amp; Dragon Flames Restaurant</li>
                      <li>Indogrosir</li>
                      <li>Indomaret</li>
                    </ul>  
                  </div>
                  <div class="col-sm-6 text-center">
                    <ul>
                      <li>Yello Hotel</li>
                      <li>Geprek Bensu Restaurant</li>
                      <li>Big Ben Coffee &amp; Café</li>
                      <li>Poguyaman Mulya Sejahtera</li>
                      <li>PT. Limakilo</li>
                      <li>Hanamasa Restaurant</li>
                      <li>Pesantren Daqu Ust. Yusuf Mansyur</li>
                      <li>Event Internasional Asian Games Jakarta 2018</li>
                    <ul>
                  </div>
                </div>
              </div>
            </section>

{% endblock %}