{% extends "layouts/default.twig" %}

{% block content %}


            <!--Page Title-->
            <section class="page-title" style="background-image:url(./assets/images/background/image-rice-bag.jpg);">
              <div class="auto-container">
                <h1>Contact Us</h1>
              </div>
            </section>

            <section class="contact-section">
              <div class="auto-container">
                <!--Section Title-->
                <div class="sec-title-one">
                  <h3>Leave a message here</h3>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="contact-form default-form">
                        <div id="caldera_notices_1" data-spinner="./assets/images/preloader.gif"></div>
                        <form class="form-horizontal" method="POST"
                            enctype="multipart/form-data" aria-label="Contact Form">
                            <div class="col-sm-12">
                                <div class="form-group">
                                  <label for="fld_1000895_1" class="control-label">Name <span
                                          aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                  <div class="">
                                      <input required="" type="text" data-field="fld_1000895" class=" form-control" id="fld_1000895_1"
                                          name="fld_1000895" value="" data-type="text" aria-required="true"
                                          aria-labelledby="fld_1000895Label"> </div>
                                </div>
                                <div class="form-group">
                                  <label id="fld_4763314Label" for="fld_4763314_1" class="control-label">Email <span
                                          aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                  <div class="">
                                      <input required="" type="text" data-field="fld_4763314" class=" form-control" id="fld_4763314_1"
                                          name="fld_4763314" value="" data-type="text" aria-required="true"
                                          aria-labelledby="fld_4763314Label"> </div>
                                </div>
                                <div class="form-group">
                                  <label id="fld_4244144Label" for="fld_4244144_1" class="control-label">Phone <span
                                          aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                  <div class="">
                                      <input required="" type="text" data-field="fld_4244144" class=" form-control" id="fld_4244144_1"
                                          name="fld_4244144" value="" data-type="text" aria-required="true"
                                          aria-labelledby="fld_4244144Label"> </div>
                                </div>
                                <div class="form-group">
                                  <label id="fld_7529306Label" for="fld_7529306_1" class="control-label">Message <span
                                          aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                  <div class="">
                                      <textarea name="fld_7529306" value="" data-field="fld_7529306" class="form-control"
                                          id="fld_7529306_1" rows="4" required="required" aria-labelledby="fld_7529306Label"></textarea>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="">
                                      <input class="btn btn-default btn-block btn-lg" type="submit" name="fld_4907586" id="fld_4907586_1"
                                          value="Kirim" data-field="fld_4907586">
                                  </div>
                                </div>
                                <input class="button_trigger_1" type="hidden" name="fld_4907586" id="fld_4907586_1_btn"
                                    value="">
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section class="info-section">
              <div class="auto-container">
                <div class="row clearfix">

                  <!--Info Column-->
                  <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="0ms"
                      data-wow-duration="1500ms">
                    <div class="column-header">
                      <h3>Address</h3>
                    </div>
                    <div class="info-box">
                      <div class="inner">
                        <div class="icon"><span class="flaticon-placeholder"></span></div>
                          <div class="text">
                            <h4>Address</h4>
                            {{company.address}}
                            <br><br>
                            <h4>Warehouse</h4>
                            {{company.warehouse}}
                          </div>
                      </div>
                    </div>
                  </div>

                  <!--Info Column-->
                  <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="300ms"
                      data-wow-duration="1500ms">
                    <div class="column-header">
                      <h3>Call Now</h3>
                    </div>
                    <div class="info-box">
                      <div class="inner">
                        <div class="icon"><span class="flaticon-technology-4"></span></div>
                        <h4>Call to Us</h4>
                        <div class="text">{{company.phone}}</div>
                      </div>
                    </div>
                  </div>

                  <!--Info Column-->
                  <div class="info-column col-md-4 col-sm-4 col-xs-12 wow fadeInUp animated" data-wow-delay="600ms"
                      data-wow-duration="1500ms">
                    <div class="column-header">
                      <h3>Email us</h3>
                    </div>
                    <div class="info-box">
                      <div class="inner">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <h4>Info Services</h4>
                        <div class="text">{{company.email}}</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>

            <!--Map Section-->
            <section class="map-section">
              <div class="map-outer">
                <!--Map Canvas-->
                <div class="map-canvas" data-zoom="20" data-lat="-6.232856" data-lng="106.831152" data-type="roadmap" data-hue="#fc721e"
                    data-title="Asia Trade" data-content="Menara Karya Building, 28th Floor&lt;br&gt;&lt;a href=&#39;mailto:info@asiatrade.co.id.com&#39;&gt;info@asiatrade.co.id&lt;/a&gt;"
                    style="height:450px;">
                </div>
              </div>
            </section>


{% endblock %}