{% extends "layouts/default.twig" %}

{% block content %}
    

    <!--Page Title-->
    <section class="page-title" style="background-image:url(./assets/images/background/image-sugar-spoon.jpg);">
      <div class="auto-container">
        <h1>Products</h1>
      </div>
    </section>

    <section class="products-section-two">
    	<div class="auto-container">
        <div class="row clearfix">
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-12">
            <div class="inner-box wow fadeInLeft animated" data-wow-delay="1ms" data-wow-duration="1000ms" id="beras">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-center">
                    <figure class="image">
                      <img src="./assets/images/510p-rice-bags.png" alt="AsiaTrade .Co Beras" class="img-responsive">
                    </figure>
                  </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <div class="inner">
                    <h3>Beras</h3>
                    <div class="text">
                        <ul>
                          <li>Beras IR64</li> 
                          <li>Beras IR42</li>
                          <li>Beras Pandan Wangi</li>
                          <li>Beras Japonika</li>
                          <li>Beras Ketan</li>
                          <li>Beras Merah</li>
                        </ul>
                      </div>
                      <br>
                      <div class="link-box"><a href="quote.html?item=rice" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-12">
            <div class="inner-box wow fadeInLeft animated" data-wow-delay="2ms" data-wow-duration="2000ms" id="gula">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-center">                  
                    <figure class="image">
                      <img src="./assets/images/510p-sugar-bags.png" alt="AsiaTrade .Co Gula" class="img-responsive">
                    </figure>
                  </div>  
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-12 col-md-12 col-sm-12 col-2 text-center">
                  <div class="inner">
                    <h3>Gula Kristal Putih</h3>
                    <div class="text">Gula yang kami sediakan adalah Gula Kristal Putih</div>
                    <ul>
                      <li>Sweet Indo Lampung (SIL)</li>
                      <li>Indo Lampung Perkasa (ILP)</li>
                      <li>Gunung Madu Plantation (GMP)</li>
                      <li>Rafinasi segala merk</li>
                    </ul>
                    <br>                                    
                    <div class="link-box"><a href="quote.html?item=sugar" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-12">
            <div class="inner-box wow fadeInLeft animated" data-wow-delay="3ms" data-wow-duration="3000ms" id="telur">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-center">                  
                    <figure class="image">
                      <img src="./assets/images/510p-eggs.png" alt="AsiaTrade .Co Telur" class="img-responsive">
                    </figure>
                  </div>  
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <div class="inner">
                    <h3>Telur Ayam Negri</h3> 
                    <div class="text">Telur ayam negeri yang kami
                    sediakan adalah telur fresh
                    dengan kualitas premium yang
                    berasal dari peternak pilihan.
                    Seluruh produk kami
                    mengutamakan kualitas terbaik.</div>
                    <br>                                    
                    <div class="link-box"><a href="quote.html?item=eggs" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Product Style Two-->
          <div class="product-style-two col-md-6 col-sm-6 col-12">
            <div class="inner-box wow fadeInLeft animated" data-wow-delay="4ms" data-wow-duration="4000ms" id="ayam">
              <div class="clearfix">
                <!--Image Column-->
                <div class="image-column col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="text-center">                  
                    <figure class="image">
                      <img src="./assets/images/503p-chicken.png" alt="AsiaTrade .Co Chicken" class="img-responsive">
                    </figure>
                  </div>  
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                  <div class="inner">
                    <h3>Ayam</h3> 
                    <div class="text">Ayam negeri yang kami sediakan
                      adalah fresh maupun frozen dengan kualitas premium yang
                      berasal dari peternak pilihan. Kami juga menyediakan ayam
                      karkas (whole Chicken) dan
                      Boneless Chicken. Seluruh
                      produk kami mengutamakan
                      kualitas terbaik.
                    </div>
                    <br>                                    
                    <div class="link-box"><a href="quote.html?item=chicken" class="theme-btn btn-style-four" title="Get a Quote">Get A Quote</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="sponsors-style-one alternate">
      <div class="sec-title-one"><h2>Our Warehouse</h2></div>
        <div class="container">
            <div class="col-xs-12 col-sm-4 col-lg-4 wow fadeInLeft animated" data-wow-delay="5ms" data-wow-duration="2000ms">
                <div class="text-center">
                  <img src="./assets/images/warehouse-l.jpg" class="img-responsive" style="margin:1rem auto 1rem;"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 wow fadeInLeft animated" data-wow-delay="5ms" data-wow-duration="3000ms">
                <div class="text-center">
                  <img src="./assets/images/warehouse.jpg" class="img-responsive" style="margin:1rem auto 1rem;"/>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4 wow fadeInLeft animated" data-wow-delay="5ms" data-wow-duration="4000ms">
                <div class="text-center">
                  <img src="./assets/images/warehouse-r.jpg" class="img-responsive" style="margin:1rem auto 1rem;"/>
                </div>
            </div>
        </div>
      </div>
    </sction>

{% endblock %}