{% extends "layouts/default.twig" %}

{% block content %}


            <!--Page Title-->
            <section class="page-title" style="background-image:url(./assets/images/background/image-rice-bag.jpg);">
              <div class="auto-container">
                <h1>Get a Quote</h1>
              </div>
            </section>

            <div class="sidebar-page-container">
              <div class="auto-container">
                <div class="row clearfix">
                  <!--Content Side-->
                  <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2">

                    <!--Blog Classic-->
                    <section id="post-57" class="post-57 page type-page status-publish hentry">

                      <div class="caldera-grid" id="caldera_form_1" data-cf-ver="1.5.9.1" data-cf-form-id="CF5a96e5f499c8c">
                        <div id="caldera_notices_1" data-spinner="./assets/images/spinner.gif"></div>
                        <form data-instance="1" class="default-form" method="POST" enctype="multipart/form-data"
                            id="CF5a96e5f499c8c_1" data-form-id="CF5a96e5f499c8c" aria-label="Quotation Form">
                          <input type="hidden" id="_cf_verify_CF5a96e5f499c8c" name="_cf_verify" value="206091c6c8"
                              data-nonce-time="1548298727"><input type="hidden" name="_wp_http_referer" value="/index.php/get-a-quote/"><input
                              type="hidden" name="_cf_frm_id" value="CF5a96e5f499c8c">
                          <input type="hidden" name="_cf_frm_ct" value="1">
                          <input type="hidden" name="_cf_cr_pst" value="57">
                          <div class="hide" style="display:none; overflow:hidden;height:0;width:0;">
                            <label>Web Site</label><input type="text" name="web_site" value="" autocomplete="off">
                          </div>
                          <div id="CF5a96e5f499c8c_1-row-1" class="row  single">
                              <div class="col-sm-12  single">
                                  <div data-field-wrapper="fld_1000895" class="form-group" id="fld_1000895_1-wrap">
                                    <label id="fld_1000895Label" for="fld_1000895_1" class="control-label">Name
                                        <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <input required="" type="text" data-field="fld_1000895" class=" form-control"
                                            id="fld_1000895_1" name="fld_1000895" value="" data-type="text"
                                            aria-required="true" aria-labelledby="fld_1000895Label"> </div>
                                  </div>
                                  <div data-field-wrapper="fld_4763314" class="form-group" id="fld_4763314_1-wrap">
                                    <label id="fld_4763314Label" for="fld_4763314_1" class="control-label">Email
                                        <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <input required="" type="text" data-field="fld_4763314" class=" form-control"
                                            id="fld_4763314_1" name="fld_4763314" value="" data-type="text"
                                            aria-required="true" aria-labelledby="fld_4763314Label"> </div>
                                  </div>
                                  <div data-field-wrapper="fld_4244144" class="form-group" id="fld_4244144_1-wrap">
                                    <label id="fld_4244144Label" for="fld_4244144_1" class="control-label">Phone
                                        <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <input required="" type="text" data-field="fld_4244144" class=" form-control"
                                            id="fld_4244144_1" name="fld_4244144" value="" data-type="text"
                                            aria-required="true" aria-labelledby="fld_4244144Label"> </div>
                                  </div>
                                  <div data-field-wrapper="fld_7865018" class="form-group" id="fld_7865018_1-wrap">
                                    <label id="fld_7865018Label" for="fld_7865018_1" class="control-label">Company
                                        <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <input required="" type="text" data-field="fld_7865018" class=" form-control"
                                            id="fld_7865018_1" name="fld_7865018" value="" data-type="text"
                                            aria-required="true" aria-labelledby="fld_7865018Label"> </div>
                                  </div>
                                  <div data-field-wrapper="fld_6100616" class="form-group" id="fld_6100616_1-wrap">
                                    <label id="fld_6100616Label" for="fld_6100616_1" class="control-label">Website</label>
                                    <div class="">
                                        <input type="url" data-field="fld_6100616" class=" form-control" id="fld_6100616_1"
                                            name="fld_6100616" value="" data-type="url" aria-labelledby="fld_6100616Label">
                                    </div>
                                  </div>
                                  <div data-field-wrapper="fld_6390832" class="form-group" id="fld_6390832_1-wrap">
                                    <label id="fld_6390832Label" for="fld_6390832_1" class="control-label">What Do
                                        You Need? <span aria-hidden="true" role="presentation" class="field_required"
                                            style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <select name="fld_6390832" value="" data-field="fld_6390832" class="form-control"
                                            id="fld_6390832_1" required="required" aria-labelledby="fld_6390832Label">
                                            <option value=""></option>
                                            <option value="Beras" data-calc-value="Beras">
                                                Beras </option>
                                            <option value="Gula" data-calc-value="Gula">
                                                Gula </option>
                                        </select>
                                    </div>
                                  </div>
                                  <span class="caldera-forms-conditional-field" role="region" aria-live="polite" id="conditional_fld_2111045_1"
                                      data-field-id="fld_2111045_1"></span><span class="caldera-forms-conditional-field"
                                      role="region" aria-live="polite" id="conditional_fld_7724307_1" data-field-id="fld_7724307_1"></span>
                                  <div data-field-wrapper="fld_388137" class="form-group" id="fld_388137_1-wrap">
                                    <label id="fld_388137Label" for="fld_388137_1" class="control-label">Berapa
                                        Kilogram?</label>
                                    <div class="">
                                      <select name="fld_388137" value="" data-field="fld_388137" class="form-control"
                                          id="fld_388137_1" aria-labelledby="fld_388137Label">
                                        <option value=""></option>
                                        <option value="200" data-calc-value="200">
                                            200 </option>
                                        <option value="500" data-calc-value="500">
                                            500 </option>
                                        <option value="&gt;500" data-calc-value="&gt;500">
                                            &gt;500 </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div data-field-wrapper="fld_9999896" class="form-group" id="fld_9999896_1-wrap">
                                    <label id="fld_9999896Label" for="fld_9999896_1" class="control-label">Additional
                                        Information <span aria-hidden="true" role="presentation" class="field_required"
                                            style="color:#ee0000;">*</span></label>
                                    <div class="">
                                        <textarea name="fld_9999896" value="" data-field="fld_9999896" class="form-control"
                                            id="fld_9999896_1" rows="4" required="required" aria-labelledby="fld_9999896Label"></textarea>
                                    </div>
                                  </div>
                                  <div data-field-wrapper="fld_4907586" class="form-group" id="fld_4907586_1-wrap">
                                    <div class="">
                                      <input class="btn btn-default btn-block btn-lg" type="submit" name="fld_4907586" id="fld_4907586_1"
                                            value="Kirim" data-field="fld_4907586">
                                    </div>
                                  </div>
                                  <input class="button_trigger_1" type="hidden" name="fld_4907586" id="fld_4907586_1_btn"
                                      value="" data-field="fld_4907586">
                              </div>
                          </div>
                        </form>
                      </div>

                      <script type="text/javascript">
                        if (typeof caldera_conditionals === "undefined") {
                            var caldera_conditionals = {};
                        }
                        caldera_conditionals.CF5a96e5f499c8c_1 = {
                            "fld_2111045_1": {
                                "type": "show",
                                "group": {
                                    "rw3635021123961324": {
                                        "cl1698364594900622": {
                                            "parent": "rw3635021123961324",
                                            "field": "fld_6390832",
                                            "compare": "is",
                                            "value": "Beras",
                                            "label": "Beras"
                                        }
                                    }
                                }
                            },
                            "fld_7724307_1": {
                                "type": "show",
                                "group": {
                                    "rw3799135054435708": {
                                        "cl9856618493718007": {
                                            "parent": "rw3799135054435708",
                                            "field": "fld_6390832",
                                            "compare": "is",
                                            "value": "Gula",
                                            "label": "Gula"
                                        }
                                    }
                                }
                            }
                        };
                      </script>

                      <script type="text/html" id="conditional-fld_2111045_1-tmpl">
                        <div data-field-wrapper="fld_2111045" class="form-group" id="fld_2111045_1-wrap">
                          <label id="fld_2111045Label" for="fld_2111045_1" class="control-label">Beras <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                          <div class="">
                            <select name="fld_2111045" value="" data-field="fld_2111045" class="form-control" id="fld_2111045_1"  required="required"  aria-labelledby="fld_2111045Label" >
                              <option value=""></option>
                              <option value="Beras IR64"  data-calc-value="Beras IR64">Beras IR64</option>
                              <option value="Beras IR42"  data-calc-value="Beras IR42">Beras IR42</option>
                              <option value="Beras Pandan Wangi" data-calc-value="Beras Pandan Wangi">Beras Pandan Wangi</option>
                              <option value="Beras Japonika"  data-calc-value="Beras Japonika">Beras Japonika</option>
                              <option value="Beras Ketan"  data-calc-value="Beras Ketan">Beras Ketan</option>
                            </select>
                          </div>
                        </div>
                      </script>

                      <script type="text/html" id="conditional-fld_7724307_1-tmpl">
                        <div data-field-wrapper="fld_7724307" class="form-group" id="fld_7724307_1-wrap">
                          <label id="fld_7724307Label" for="fld_7724307_1" class="control-label">Gula <span aria-hidden="true" role="presentation" class="field_required" style="color:#ee0000;">*</span></label>
                          <div class="">
                            <select name="fld_7724307" value="" data-field="fld_7724307" class="form-control" id="fld_7724307_1"  required="required"  aria-labelledby="fld_7724307Label" >
                              <option value=""></option>
                              <option value="Gula Kristal Putih SIL"  data-calc-value="Gula Kristal Putih SIL" >Gula Kristal Putih SIL</option>
                              <option value="Gula Kristal Putih ILP"  data-calc-value="Gula Kristal Putih ILP" >Gula Kristal Putih ILP</option>
                            </select>
                          </div>
                        </div>
                      </script>

                    </section>

                  </div>
                  <!--End Content Side-->

                </div>
              </div>
            </div>


{% endblock %}