    
    <footer class="text-light">
        {# Footer Page  #}
        <div class="container text-center small footer">
            <p class="footnote">© 2018 Copyright. All right reserved by me.<br>
                <span class="muted">Built with <span class="fa fa-heart fa-beat"></span> , Webpack, Bootstrap, Font Awesome and <span class="fa fa-coffee"></span> .</span>
            </p>
        </div>  
    </footer>

    <!--Scroll to top-->
    <a class="btn btn-primary btn-sm text-light scroll-to-top scroll-to-target d-none" data-target="html"><span class="fas fa-arrow-up"></span></a>