    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Bt13gobFBTUdxQOTkj6-AQaA3P3h2VEJevqrdDqzP4c">

    <meta name="description" content="{{title}}">
    <meta name="keywords" content="{{description}}">
    <meta name="author" content="{{title}}">

    <title>{{title}}</title>

    <link rel="icon" href="./assets/img/favicon.ico?v=1.1">
    <link rel="canonical" href="./index.html">
    <link rel="shortlink" href="./index.html">
    
    <!-- Theme Color -->
	  <meta name="theme-color" content="#a70606">